$primary-color: #fb923c;
$second-color: #431407;
$secondary-text-color: #fff7ed;

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url(../../asset/images/wp4706561.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-origin: content-box;
}

header {
  background-color: $primary-color;
  width: 70%;
  height: 60px;
  margin: 0 auto;
  nav {
    height: 100%;
    @include flexCenter();
  }
  button {
    all: unset;
    padding: 10px 20px;
    margin: 5px;
    color: $secondary-text-color;
    background-color: $second-color;
    border-radius: 5px;
    transition: 0.4s ease-in-out;
    &:hover {
      background: transparent;
      border: 2px solid $second-color;
      color: #431407;
    }
  }
}
